/*smartphones, iPhone, portrait 480x320 phones*/
@media (min-width: 320px)
{
	#main-content
	{
		left: 0px;
		position: absolute;
		transition: all 0.3s ease-in-out 0s;
	}
	.login-container .middle-login
	{
		margin-left: -162px;
		width: 320px;
	}
}
/*portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide.*/
@media (min-width: 481px)
{
	#main-content
	{
		left: 0px;
	}
	.login-container .middle-login
	{
		margin-left: -162px;
		width: 320px;
	}
}
/*portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones*/
@media (min-width: 641px)
{
	#main-content
	{
		left: 0px;
	}
	.login-container .middle-login
	{
		width: 430px;
	}
}
@media (min-width: 768px)
{
	#main-content
	{
		left: 209px;
	}
	.login-container .middle-login
	{
		width: 430px;
	}
}
/*tablet, landscape iPad, lo-res laptops ands desktops*/
@media (min-width: 961px)
{
	#main-content
	{
		left: 209px;
	}
	.login-container .middle-login
	{
		width: 430px;
	}
}
/*big landscape tablets, laptops, and desktops*/
@media (min-width: 1025px)
{
	#main-content
	{
		left: 209px;
	}
	.login-container .middle-login
	{
		width: 430px;
	}
}
/*hi-res laptops and desktops*/
@media (min-width: 1281px)
{
	#main-content
	{
		left: 209px;
	}
	.login-container .middle-login
	{
		width: 430px;
	}
}
INPUT[type="radio"], INPUT[type="checkbox"]
{
	cursor: pointer;
	height: 18px;
	opacity: 0;
	position: absolute;
	width: 18px;
	z-index: 2;
}
INPUT[type="radio"]
{
	margin-top: 0;
}
INPUT[type="checkbox"]:checked + .custom-checkbox, INPUT[type="radio"]:checked + .custom-radio
{
	background-color: #F5F8FC;
}
INPUT[type="checkbox"] + .custom-checkbox, INPUT[type="checkbox"]:disabled + .custom-checkbox, INPUT[type="radio"] + .custom-radio, INPUT[type="radio"]:disabled + .custom-radio
{
	background-color: #FAFAFA;
	border-radius: 2px;
	display: inline-block;
	font-weight: normal;
	line-height: 13px;
	margin-right: 3px;
	position: relative;
}
INPUT[type="checkbox"]:hover + .custom-checkbox, INPUT[type="radio"]:hover + .custom-radio
{
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
INPUT[type="checkbox"] + .custom-checkbox:before
{
	border-radius: 2px;
	height: 18px;
	width: 18px;
}
INPUT[type="checkbox"]:disabled + .custom-checkbox, INPUT[type="radio"]:disabled + .custom-radio
{
	background-color: #CCCCCC;
	border-radius: 3px;
}
INPUT[type="checkbox"] + .custom-checkbox:before, INPUT[type="radio"] + .custom-radio:before
{
	border: 1px solid #CCCCCC;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	content: " ";
	display: inline-block;
	font-family: fontAwesome;
	font-size: 12px;
	height: 16px;
	width: 16px;
	text-align: center;
	vertical-align: middle;
}
INPUT[type="checkbox"]:checked + .custom-checkbox:before
{
	border-color: rgba(0, 0, 0, 0.2);
	color: #7A7A7A;
	content: "";
	font-size: 12px;
	text-shadow: 0 1px #FFFFFF;
}
INPUT[type="radio"] + .custom-radio, INPUT[type="radio"]:disabled + .custom-radio
{
	border-radius: 50em;
}
INPUT[type="radio"] + .custom-radio:before
{
	border-radius: 50em;
	font-family: sans-serif;
	font-size: 36px;
}
INPUT[type="radio"]:checked + .custom-radio:before
{
	border-color: #ADB8C0;
	content: "•";
	text-shadow: 0 1px #FFFFFF;
}
INPUT[type="radio"]:checked + .custom-radio.blue:before
{
	color: #0099CC;
}
INPUT[type="checkbox"]:disabled:active + .custom-checkbox, INPUT[type="radio"]:disabled:active + .custom-radio
{
	box-shadow: none;
}
INPUT[type="checkbox"]:active + .custom-checkbox, INPUT[type="radio"]:active + .custom-radio
{
	border-radius: 3px;
	box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.1);
}
INPUT[type="radio"]:active + .custom-radio
{
	border-radius: 50em;
}
.label-checkbox, .label-radio
{
	cursor: auto;
	display: block;
	margin-bottom: 0;
}
.label-radio
{
	padding-top: 6px;
}
.label-checkbox.inline, .label-radio.inline
{
	display: inline-block;
	margin-right: 5px;
}
.label-radio.inline
{
	padding-top: 5px;
}
INPUT.no-boarder
{
	border: medium none;
}
INPUT.dark
{
	background-color: #E5E9EC;
	border: medium none;
}
INPUT
{
	border: 1px solid #CECECE;
}
TEXTAREA
{
	height: auto;
	padding-left: 12px !important;
	padding-top: 10px !important;
}
.uneditable-input, TEXTAREA, INPUT[type="text"], INPUT[type="password"], INPUT[type="datetime"], INPUT[type="datetime-local"], INPUT[type="date"], INPUT[type="month"], INPUT[type="time"], INPUT[type="week"], INPUT[type="number"], INPUT[type="email"], INPUT[type="url"], INPUT[type="search"], INPUT[type="tel"], INPUT[type="color"]
{
	background-color: #FFFFFF;
	border: 1px solid #E5E9EC;
	border-radius: 3px;
	box-shadow: none !important;
	color: #282323;
	font-size: 13px;
	font-weight: normal;
	line-height: 15px;
	min-height: 37px;
	outline: 0 none;
	padding: 6px 11px !important;
	transition: background 0.2s linear 0s, box-shadow 0.2s linear 0s;
	vertical-align: top;
}
.form-control:focus
{
	border-color: #C3C3C3;
}
.searchform INPUT
{
	border: none;
	border-radius: 0;
	float: left;
	font-size: 14px;
	height: 40px;
	padding: 5px 20px;
	width: 250px;
}
.searchform INPUT:focus
{
	border: none;
	border-radius: 0;
	float: left;
	font-size: 14px;
	height: 40px;
	padding: 5px 20px;
	width: 250px;
}
.table-invoice
{
	border-bottom: 1px solid #EEEEEE;
	box-shadow: none;
	margin-top: 20px;
}
.table-invoice THEAD > TR > TH
{
	background: rgba(0, 0, 0, 0) repeat 0 0;
}
.table-invoice THEAD > TR > TH:last-child, .table-invoice THEAD > TR > TH:nth-child(3), .table-invoice THEAD > TR > TH:nth-child(2)
{
	text-align: right;
}
.table-invoice TBODY > TR > TD:last-child, .table-invoice TBODY > TR > TD:nth-child(3), .table-invoice TBODY > TR > TD:nth-child(2)
{
	text-align: right;
	width: 15%;
}
.table-total
{
	box-shadow: none;
	float: right;
}
.table-total > TBODY > TR > TD
{
	border: 0 none;
}
.table-total > TBODY > TR > TD:last-child
{
	border-bottom: 1px solid #DDDDDD;
	text-align: right;
	width: 15%;
}
.table-total > TBODY > TR > TD:first-child
{
	color: #333333;
	text-align: right;
}
SELECT
{
	background-color: #FFFFFF;
	background-image: none !important;
	border: 1px solid #E5E5E5;
	filter: none !important;
	min-height: 28px;
	outline: medium none;
	padding: 3px;
	width: 220px;
}
.input-icon
{
	position: relative;
}
.input-icon INPUT
{
	padding-left: 33px !important;
}
.input-icon I
{
	color: #CCCCCC;
	display: block;
	font-size: 16px;
	height: 16px;
	margin: 11px 2px 4px 10px;
	position: absolute;
	text-align: center;
	width: 16px;
}
.input-icon.right INPUT
{
	padding-left: 12px !important;
	padding-right: 33px !important;
}
.input-icon.right I
{
	float: right;
	right: 8px;
}
.checkbox-list > LABEL
{
	display: block;
}
DIV.selector, DIV.checker, DIV.button, DIV.radio, DIV.uploader
{
	display: inline-block;
	vertical-align: middle;
}
DIV.selector:focus, DIV.checker:focus, DIV.button:focus, DIV.radio:focus, DIV.uploader:focus
{
	outline: 0 none;
}
DIV.selector, DIV.selector *, DIV.radio, DIV.radio *, DIV.checker, DIV.checker *, DIV.uploader, DIV.uploader *, DIV.button, DIV.button *
{
	margin: 0;
	padding: 0;
}
/*checkbox-list > label*/
#INVALID-RULE
{
	display: block;
}
.checkbox-list > LABEL.checkbox-inline
{
	display: inline-block;
}
.checkbox-list > LABEL.checkbox-inline:first-child
{
	padding-left: 0;
}
.radio-list > LABEL
{
	display: block;
}
.radio-list > LABEL.radio-inline
{
	display: inline-block;
}
.radio-list > LABEL.radio-inline:first-child
{
	padding-left: 0;
}
.radio INPUT[type="radio"], .radio-inline INPUT[type="radio"], .checkbox INPUT[type="checkbox"], .checkbox-inline INPUT[type="checkbox"]
{
	margin-left: 0px;
}
LABEL
{
	font-weight: normal;
}
.input-group .btn
{
	padding: 7px 12px;
}
.dataTables_paginate.paging_bootstrap.pagination LI
{
	border: 1px solid #DDDDDD;
	border-radius: 3px;
	float: left;
	margin: 0 1px;
	list-style: none;
}
.dataTables_paginate.paging_bootstrap.pagination LI.disabled A
{
	color: #C7C7C7;
}
.dataTables_paginate.paging_bootstrap.pagination LI A
{
	color: #797979;
	display: inline-block;
	padding: 5px 10px;
}
.dataTables_paginate.paging_bootstrap.pagination LI:hover A, .dataTables_paginate.paging_bootstrap.pagination LI.active A
{
	background: #EEEEEE repeat 0 0;
	border-radius: 3px;
	color: #797979;
}
.dataTables_paginate.paging_bootstrap.pagination
{
	float: right;
	margin-top: 5px;
}
.help-block
{
	font-size: 13px;
}
.add-on
{
	float: right;
	margin-top: -37px;
}
.add-on .btn
{
	padding: 9px;
}
.daterangepicker .ranges .range_inputs > DIV:nth-child(2)
{
	margin-bottom: 10px;
	padding-left: 0;
}
.daterangepicker .ranges LABEL
{
	padding-bottom: 0;
	padding-top: 8px;
}
.daterangepicker TD.active, .daterangepicker TD.active:hover, .datepicker TD.active:hover, .datepicker TD.active:hover:hover, .datepicker TD.active:active, .datepicker TD.active:hover:active, .datepicker TD.active.active, .datepicker TD.active.active:hover, .datepicker TD.active.disabled, .datepicker TD.active.disabled:hover, .datepicker TD.active[disabled], .datepicker TD.active[disabled]:hover, .datepicker TD SPAN.active:hover, .datepicker TD SPAN.active:active, .datepicker TD SPAN.active.active, .datepicker TD SPAN.active.disabled, .datepicker TD SPAN.active[disabled]
{
	background: #41CAC0 repeat 0 0;
}
.daterangepicker .calendar TH, .daterangepicker .calendar TD
{
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	text-align: center;
	white-space: nowrap;
}
.daterangepicker TD.active, .daterangepicker TD.active:hover, .datepicker TD.active, .datepicker TD.active:hover, .datepicker TD SPAN.active
{
	text-shadow: none;
}
.datepicker TH.switch
{
	width: 125px;
}
.datepicker TD SPAN
{
	height: 40px;
	line-height: 40px;
}
.bootstrap-timepicker TABLE TD INPUT
{
	border: 1px solid #CCCCCC;
	border-radius: 3px;
}
.show-left-bar
{
	left: 0px !important;
}
.merge-right
{
	left: 209px !important;
}
#frissites
{
	background-color: #98D783;
	text-align: center;
	padding: 10px;
	color: #000000;
	text-shadow: 0px 1px #BFBFBF;
}
