/*--------------------------------------------------------------
Reset
--------------------------------------------------------------*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
figure {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}
html {
  overflow-y: scroll;
  /* Keeps page centered in all browsers regardless of content height */
  -webkit-text-size-adjust: 100%;
  /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
  -ms-text-size-adjust: 100%;
  /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
*,
*:before,
*:after {
  /* apply a natural box layout model to all elements; see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
  -webkit-box-sizing: border-box;
  /* Not needed for modern webkit but still used by Blackberry Browser 7.0; see http://caniuse.com/#search=box-sizing */
  -moz-box-sizing: border-box;
  /* Still needed for Firefox 28; see http://caniuse.com/#search=box-sizing */
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
  display: block;
}
table {
  /* tables still need 'cellspacing="0"' in the markup */
  border-collapse: separate;
  border-spacing: 0;
  margin-bottom: 20px;
}
dl {
  margin-bottom: 20px;
}
caption,
th,
td {
  font-weight: normal;
  text-align: left;
  padding: 10px 0;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}
blockquote,
q {
  quotes: "" "";
}
a:focus {
  outline: none;
}
a:hover,
a:active {
  outline: 0;
}
a img {
  border: 0;
}
@media screen and (min-width: 38.75em) {
  ul,
  ol {
    margin-left: 0;
  }
  li > ul,
  li > ol,
  blockquote > ul,
  blockquote > ol {
    margin-left: 1.3333em;
  }
}
.entry-content,
.entry-summary,
.page-content,
.comment-content {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
}
/*--------------------------------------------
Initial Setup
----------------------------------------------*/
a {
  text-decoration: none;
}
input:focus,
textarea:focus {
  outline: none;
}
img,
video,
figure {
  max-width: 100%;
  vertical-align: top;
  height: auto;
}
audio,
canvas,
video {
  display: inline;
  zoom: 1;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
body {
  line-height: 1.6;
}
p {
  margin-bottom: 1.5em;
}
[class*="col-"] {
  width: 100%;
  vertical-align: top;
  padding: 0 15px;
}
.top {
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.middle {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.bottom {
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.start {
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: start;
}
.center {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}
.end {
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: end;
}
.around {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.between {
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.first {
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
}
.last {
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}
@media (max-width: 47.9375rem) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 48rem) and (max-width: 61.9375rem) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 62rem) and (max-width: 74.9375rem) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 75rem) {
  .hidden-lg {
    display: none !important;
  }
}
.container {
  max-width: 21.875rem;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}
.row {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -0.9375rem;
  margin-right: -0.9375rem;
}
.row.reverse {
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.col.reverse {
  -webkit-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}
.col-xs,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-offset-1,
.col-xs-offset-2,
.col-xs-offset-3,
.col-xs-offset-4,
.col-xs-offset-5,
.col-xs-offset-6,
.col-xs-offset-7,
.col-xs-offset-8,
.col-xs-offset-9,
.col-xs-offset-10,
.col-xs-offset-11,
.col-xs-offset-12 {
  box-sizing: border-box;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-right: 0.9375rem;
  padding-left: 0.9375rem;
}
.col-xs {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  max-width: 100%;
}
.col-xs-1 {
  -webkit-flex-basis: 8.333%;
  -ms-flex-preferred-size: 8.333%;
  flex-basis: 8.333%;
  max-width: 8.333%;
}
.col-xs-2 {
  -webkit-flex-basis: 16.667%;
  -ms-flex-preferred-size: 16.667%;
  flex-basis: 16.667%;
  max-width: 16.667%;
}
.col-xs-3 {
  -webkit-flex-basis: 25%;
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  max-width: 25%;
}
.col-xs-4 {
  -webkit-flex-basis: 33.333%;
  -ms-flex-preferred-size: 33.333%;
  flex-basis: 33.333%;
  max-width: 33.333%;
}
.col-xs-5 {
  -webkit-flex-basis: 41.667%;
  -ms-flex-preferred-size: 41.667%;
  flex-basis: 41.667%;
  max-width: 41.667%;
}
.col-xs-6 {
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%;
}
.col-xs-7 {
  -webkit-flex-basis: 58.333%;
  -ms-flex-preferred-size: 58.333%;
  flex-basis: 58.333%;
  max-width: 58.333%;
}
.col-xs-8 {
  -webkit-flex-basis: 66.667%;
  -ms-flex-preferred-size: 66.667%;
  flex-basis: 66.667%;
  max-width: 66.667%;
}
.col-xs-9 {
  -webkit-flex-basis: 75%;
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
  max-width: 75%;
}
.col-xs-10 {
  -webkit-flex-basis: 83.333%;
  -ms-flex-preferred-size: 83.333%;
  flex-basis: 83.333%;
  max-width: 83.333%;
}
.col-xs-11 {
  -webkit-flex-basis: 91.667%;
  -ms-flex-preferred-size: 91.667%;
  flex-basis: 91.667%;
  max-width: 91.667%;
}
.col-xs-12 {
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
}
.col-xs-offset-1 {
  margin-left: 8.333%;
}
.col-xs-offset-2 {
  margin-left: 16.667%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-4 {
  margin-left: 33.333%;
}
.col-xs-offset-5 {
  margin-left: 41.667%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-7 {
  margin-left: 58.333%;
}
.col-xs-offset-8 {
  margin-left: 66.667%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-10 {
  margin-left: 83.333%;
}
.col-xs-offset-11 {
  margin-left: 91.667%;
}
.start-xs {
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: start;
}
.center-xs {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}
.end-xs {
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: end;
}
.top-xs {
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.middle-xs {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.bottom-xs {
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.around-xs {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.between-xs {
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.first-xs {
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
}
.last-xs {
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}
@media only screen and (min-width: 48rem) {
  .container {
    max-width: 46.875rem;
  }
  .col-sm,
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-offset-1,
  .col-sm-offset-2,
  .col-sm-offset-3,
  .col-sm-offset-4,
  .col-sm-offset-5,
  .col-sm-offset-6,
  .col-sm-offset-7,
  .col-sm-offset-8,
  .col-sm-offset-9,
  .col-sm-offset-10,
  .col-sm-offset-11,
  .col-sm-offset-12 {
    box-sizing: border-box;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }
  .col-sm {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }
  .col-sm-1 {
    -webkit-flex-basis: 8.333%;
    -ms-flex-preferred-size: 8.333%;
    flex-basis: 8.333%;
    max-width: 8.333%;
  }
  .col-sm-2 {
    -webkit-flex-basis: 16.667%;
    -ms-flex-preferred-size: 16.667%;
    flex-basis: 16.667%;
    max-width: 16.667%;
  }
  .col-sm-3 {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    -webkit-flex-basis: 33.333%;
    -ms-flex-preferred-size: 33.333%;
    flex-basis: 33.333%;
    max-width: 33.333%;
  }
  .col-sm-5 {
    -webkit-flex-basis: 41.667%;
    -ms-flex-preferred-size: 41.667%;
    flex-basis: 41.667%;
    max-width: 41.667%;
  }
  .col-sm-6 {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    -webkit-flex-basis: 58.333%;
    -ms-flex-preferred-size: 58.333%;
    flex-basis: 58.333%;
    max-width: 58.333%;
  }
  .col-sm-8 {
    -webkit-flex-basis: 66.667%;
    -ms-flex-preferred-size: 66.667%;
    flex-basis: 66.667%;
    max-width: 66.667%;
  }
  .col-sm-9 {
    -webkit-flex-basis: 75%;
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    -webkit-flex-basis: 83.333%;
    -ms-flex-preferred-size: 83.333%;
    flex-basis: 83.333%;
    max-width: 83.333%;
  }
  .col-sm-11 {
    -webkit-flex-basis: 91.667%;
    -ms-flex-preferred-size: 91.667%;
    flex-basis: 91.667%;
    max-width: 91.667%;
  }
  .col-sm-12 {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
  .col-sm-offset-1 {
    margin-left: 8.333%;
  }
  .col-sm-offset-2 {
    margin-left: 16.667%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-4 {
    margin-left: 33.333%;
  }
  .col-sm-offset-5 {
    margin-left: 41.667%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-7 {
    margin-left: 58.333%;
  }
  .col-sm-offset-8 {
    margin-left: 66.667%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-10 {
    margin-left: 83.333%;
  }
  .col-sm-offset-11 {
    margin-left: 91.667%;
  }
  .start-sm {
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start;
  }
  .center-sm {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }
  .end-sm {
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
  }
  .top-sm {
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .middle-sm {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .bottom-sm {
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .around-sm {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .between-sm {
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .first-sm {
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }
  .last-sm {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
}
@media only screen and (min-width: 62rem) {
  .container {
    max-width: 60.625rem;
  }
  .col-md,
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-offset-1,
  .col-md-offset-2,
  .col-md-offset-3,
  .col-md-offset-4,
  .col-md-offset-5,
  .col-md-offset-6,
  .col-md-offset-7,
  .col-md-offset-8,
  .col-md-offset-9,
  .col-md-offset-10,
  .col-md-offset-11,
  .col-md-offset-12 {
    box-sizing: border-box;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }
  .col-md {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }
  .col-md-1 {
    -webkit-flex-basis: 8.333%;
    -ms-flex-preferred-size: 8.333%;
    flex-basis: 8.333%;
    max-width: 8.333%;
  }
  .col-md-2 {
    -webkit-flex-basis: 16.667%;
    -ms-flex-preferred-size: 16.667%;
    flex-basis: 16.667%;
    max-width: 16.667%;
  }
  .col-md-3 {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-md-4 {
    -webkit-flex-basis: 33.333%;
    -ms-flex-preferred-size: 33.333%;
    flex-basis: 33.333%;
    max-width: 33.333%;
  }
  .col-md-5 {
    -webkit-flex-basis: 41.667%;
    -ms-flex-preferred-size: 41.667%;
    flex-basis: 41.667%;
    max-width: 41.667%;
  }
  .col-md-6 {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-md-7 {
    -webkit-flex-basis: 58.333%;
    -ms-flex-preferred-size: 58.333%;
    flex-basis: 58.333%;
    max-width: 58.333%;
  }
  .col-md-8 {
    -webkit-flex-basis: 66.667%;
    -ms-flex-preferred-size: 66.667%;
    flex-basis: 66.667%;
    max-width: 66.667%;
  }
  .col-md-9 {
    -webkit-flex-basis: 75%;
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-md-10 {
    -webkit-flex-basis: 83.333%;
    -ms-flex-preferred-size: 83.333%;
    flex-basis: 83.333%;
    max-width: 83.333%;
  }
  .col-md-11 {
    -webkit-flex-basis: 91.667%;
    -ms-flex-preferred-size: 91.667%;
    flex-basis: 91.667%;
    max-width: 91.667%;
  }
  .col-md-12 {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
  .col-md-offset-1 {
    margin-left: 8.333%;
  }
  .col-md-offset-2 {
    margin-left: 16.667%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-4 {
    margin-left: 33.333%;
  }
  .col-md-offset-5 {
    margin-left: 41.667%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-7 {
    margin-left: 58.333%;
  }
  .col-md-offset-8 {
    margin-left: 66.667%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-10 {
    margin-left: 83.333%;
  }
  .col-md-offset-11 {
    margin-left: 91.667%;
  }
  .start-md {
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start;
  }
  .center-md {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }
  .end-md {
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
  }
  .top-md {
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .middle-md {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .bottom-md {
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .around-md {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .between-md {
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .first-md {
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }
  .last-md {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
}
@media only screen and (min-width: 75rem) {
  .container {
    max-width: 73.125rem;
  }
  .col-lg,
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-offset-1,
  .col-lg-offset-2,
  .col-lg-offset-3,
  .col-lg-offset-4,
  .col-lg-offset-5,
  .col-lg-offset-6,
  .col-lg-offset-7,
  .col-lg-offset-8,
  .col-lg-offset-9,
  .col-lg-offset-10,
  .col-lg-offset-11,
  .col-lg-offset-12 {
    box-sizing: border-box;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }
  .col-lg {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }
  .col-lg-1 {
    -webkit-flex-basis: 8.333%;
    -ms-flex-preferred-size: 8.333%;
    flex-basis: 8.333%;
    max-width: 8.333%;
  }
  .col-lg-2 {
    -webkit-flex-basis: 16.667%;
    -ms-flex-preferred-size: 16.667%;
    flex-basis: 16.667%;
    max-width: 16.667%;
  }
  .col-lg-3 {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    -webkit-flex-basis: 33.333%;
    -ms-flex-preferred-size: 33.333%;
    flex-basis: 33.333%;
    max-width: 33.333%;
  }
  .col-lg-5 {
    -webkit-flex-basis: 41.667%;
    -ms-flex-preferred-size: 41.667%;
    flex-basis: 41.667%;
    max-width: 41.667%;
  }
  .col-lg-6 {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    -webkit-flex-basis: 58.333%;
    -ms-flex-preferred-size: 58.333%;
    flex-basis: 58.333%;
    max-width: 58.333%;
  }
  .col-lg-8 {
    -webkit-flex-basis: 66.667%;
    -ms-flex-preferred-size: 66.667%;
    flex-basis: 66.667%;
    max-width: 66.667%;
  }
  .col-lg-9 {
    -webkit-flex-basis: 75%;
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    -webkit-flex-basis: 83.333%;
    -ms-flex-preferred-size: 83.333%;
    flex-basis: 83.333%;
    max-width: 83.333%;
  }
  .col-lg-11 {
    -webkit-flex-basis: 91.667%;
    -ms-flex-preferred-size: 91.667%;
    flex-basis: 91.667%;
    max-width: 91.667%;
  }
  .col-lg-12 {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
  .col-lg-offset-1 {
    margin-left: 8.333%;
  }
  .col-lg-offset-2 {
    margin-left: 16.667%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-4 {
    margin-left: 33.333%;
  }
  .col-lg-offset-5 {
    margin-left: 41.667%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-7 {
    margin-left: 58.333%;
  }
  .col-lg-offset-8 {
    margin-left: 66.667%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-10 {
    margin-left: 83.333%;
  }
  .col-lg-offset-11 {
    margin-left: 91.667%;
  }
  .start-lg {
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start;
  }
  .center-lg {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }
  .end-lg {
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
  }
  .top-lg {
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .middle-lg {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .bottom-lg {
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .around-lg {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .between-lg {
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .first-lg {
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }
  .last-lg {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
}
/*--------------------------------------------
Combo CSS
----------------------------------------------*/
.clr:before,
.clr:after,
.mini-cart .widget_shopping_cart_content .cart_list li:before,
.mini-cart .widget_shopping_cart_content .cart_list li:after,
.single-post .comment > div:before,
.single-post .comment > div:after,
.page .comment > div:before,
.page .comment > div:after,
.recent-posts__item:before,
.recent-posts__item:after {
  content: " ";
  display: table;
}
.clr:after,
.mini-cart .widget_shopping_cart_content .cart_list li:after,
.single-post .comment > div:after,
.page .comment > div:after,
.recent-posts__item:after {
  clear: both;
}
.icf,
.list li:before,
.pricing.style1 .wpb_text_column li:before,
.site-footer .menu li a:before,
.top-menu .menu-item a:after,
.social-menu .menu li a:before,
.sidebar ul li:before,
.wpb_widgetised_column ul li:before,
.sidebar .recent-posts__item:before,
.wpb_widgetised_column .recent-posts__item:before,
.sidebar .widget_search span:before,
.wpb_widgetised_column .widget_search span:before,
.mini-cart .mini-cart__button .mini-cart-icon:before,
ul.style1 li:before,
.tm_bread_crumb li a:after,
.facts li:before,
.vc_tta.vc_general .vc_tta-panel.vc_active .vc_tta-controls-icon:before {
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}
.tran,
a,
.search-box i,
.search-box i:before,
.search-box i:after,
.search-box input[type="search"],
.search-box .search-form,
.site-footer .menu li,
#site-navigation .menu > ul > li,
#site-navigation .menu > li,
#site-navigation .sub-menu,
#site-navigation .children,
#site-navigation .sub-menu li,
#site-navigation .children li,
.sidebar .better-menu-widget li,
.wpb_widgetised_column .better-menu-widget li,
.sidebar .better-menu-widget li:before,
.wpb_widgetised_column .better-menu-widget li:before,
.sidebar .better-menu-widget li:after,
.wpb_widgetised_column .better-menu-widget li:after,
.mini-cart .mini-cart__button,
.tm_bread_crumb:before,
input,
select,
textarea,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.recent-posts__item .recent-posts__thumb:before,
.recent-posts__item .recent-posts__thumb:after,
.recent-posts__item .recent-posts__thumb a:before,
.vc_btn3-color-grey,
.tm-skin .esg-filterbutton,
.tm-skin-2 .esg-filterbutton,
.esg-entry-cover:before {
  -webkit-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
/*--------------------------------------------------------------
Common
--------------------------------------------------------------*/
.boxed {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
}
.site {
  background-color: #fff;
  position: relative;
  z-index: 2;
  overflow: hidden;
}
.float-left {
  float: left;
}
.align-center {
  text-align: center;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.grey {
  color: #777;
}
.error404 .col-md-6 > div {
  border: 2px solid #dddddd;
  padding: 20px 20px 0;
}
.error404 .col-md-6 > div h2 {
  font-size: 28px;
}
.error404 .col-md-6 > div p {
  font-size: 18px;
}
.error404 .content {
  margin-bottom: 70px;
}
.row:before,
.container:before,
.row:after,
.container:after {
  display: none !important;
}
.list li {
  list-style: none;
  margin-bottom: 10px;
}
.list li:before {
  content: "\f058";
  margin-right: 8px;
}
.tm_services {
  position: relative;
}
.tm_services:before {
  content: '' !important;
  display: block !important;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: .3;
  z-index: 1;
}
.tm_services > div {
  position: relative;
  z-index: 2;
}
.tm_services .vc_col-sm-3 .vc_column-inner > .wpb_wrapper {
  background-color: #fff;
  padding: 30px;
  text-align: center;
}
.tm_services .wpb_single_image {
  width: 130px;
  height: 130px;
  line-height: 130px;
  text-align: center;
  display: inline-block;
  position: relative;
}
.tm_services .wpb_single_image:after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 63px 63px 0 0;
  border-color: #000 transparent transparent transparent;
  position: absolute;
  opacity: 0.1;
  top: 0;
  left: 0;
}
.tm_services .wpb_single_image img {
  vertical-align: middle;
}
.tm_counting:before {
  content: '' !important;
  display: block !important;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: .9;
  z-index: 2;
}
.tm_counting > div {
  position: relative;
  z-index: 3;
  text-align: center;
}
.tm_counting .wpb_single_image {
  display: inline-block !important;
  margin-right: 20px;
  vertical-align: top;
}
.tm_counting .counter {
  display: inline-block !important;
}
.tm_counting .sub-title {
  clear: both;
}
.tm_quick_quote .vc_custom_heading h2 {
  position: relative;
}
.tm_quick_quote .vc_custom_heading h2:before {
  content: '';
  width: 100%;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  bottom: -50px;
  width: 80px;
  height: 3px;
}
.tm-our-works .vc_btn3.vc_btn3-color-grey.vc_btn3-style-modern {
  position: absolute;
  right: 15px;
  top: -10px;
}
.tm-news .vc_btn3.vc_btn3-color-grey.vc_btn3-style-modern {
  position: absolute;
  right: 15px;
  top: -10px;
}
.table-pricing {
  border: 2px solid #dddddd;
}
.table-pricing p {
  color: #777;
}
.table-pricing thead {
  background-color: #C69453;
  color: #ffffff;
}
.table-pricing thead tr td:first-child {
  width: 70%;
  text-align: left;
}
.table-pricing tbody tr td:first-child {
  text-align: left;
}
.table-pricing th,
.table-pricing td {
  border: 2px solid #dddddd;
  padding: 20px;
  text-align: center;
  vertical-align: middle;
}
.tm_get_quote:before,
.tm-works-02:before {
  content: '' !important;
  display: block !important;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.8;
  z-index: 2;
  background-color: #fff;
}
.tm_get_quote > div,
.tm-works-02 > div {
  position: relative;
  z-index: 2;
}
.tm_testimonials_02:before {
  content: '' !important;
  display: block !important;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.95;
  z-index: 2;
}
.tm_testimonials_02 > div {
  position: relative;
  z-index: 2;
}
.pricing.style1 {
  text-align: center;
}
.pricing.style1 .wpb_column > .wpb_wrapper {
  border: 2px solid #F9F4ED;
  padding-bottom: 45px;
}
.pricing.style1 .wpb_single_image {
  position: absolute;
  bottom: 0;
}
.pricing.style1 .recommend {
  position: absolute;
  top: -15px;
  right: 15px;
  padding: 15px 20px;
  background-color: #594431;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 0.1em;
}
.pricing.style1 .price2 {
  position: relative;
}
.pricing.style1 .price {
  display: inline-block;
  position: relative;
}
.pricing.style1 .price:first-letter {
  font-size: 24px;
  line-height: 60px;
  margin-right: 5px;
  vertical-align: top;
}
.pricing.style1 .price:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 72px 72px 0 0;
  border-color: rgba(0, 0, 0, 0.3) transparent transparent transparent;
}
.pricing.style1 .wpb_text_column {
  text-align: left;
}
.pricing.style1 .wpb_text_column li {
  list-style: none;
  margin-bottom: 10px;
  color: #868686;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
}
.pricing.style1 .wpb_text_column li:before {
  content: "\f058";
  margin-right: 6px;
  color: #C69453;
}
@media (min-width: 62rem) {
  .get-quote .wpb_column:nth-child(1):before {
    content: '';
    background-color: #aaaaaa;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    left: -900px;
  }
  .get-quote .wpb_column:nth-child(1):after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 230px 0 0 100px;
    border-color: transparent transparent transparent #aaaaaa;
    position: absolute;
    top: 0;
    right: -100px;
  }
  .get-quote .btn {
    margin-top: 50px;
  }
}
/*--------------------------------------------------------------
Header
--------------------------------------------------------------*/
.site-top {
  width: 100%;
  position: relative;
}
.site-header > .container {
  position: relative;
  z-index: 999;
}
.extra-info li {
  list-style: none;
  display: inline-block;
  margin-right: 10px;
}
.extra-info i {
  display: inline-block;
  font-size: 20px;
  margin-right: 10px;
  width: 44px;
  height: 44px;
  line-height: 40px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.07);
  vertical-align: middle;
}
.search-box {
  position: relative;
  z-index: 9999;
}
.search-box i {
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
  height: 48px;
  line-height: 48px;
  width: 48px;
  text-align: center;
  border: 2px solid #dddddd;
  -moz-transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
.search-box i:before,
.search-box i:after {
  position: absolute;
  height: 48px;
  line-height: 48px;
  width: 48px;
  text-align: center;
}
.search-box i:before {
  top: 0;
  left: 0;
}
.search-box i:after {
  content: '\f00d';
  top: 100%;
  left: 0;
}
.search-box label span,
.search-box input[type="submit"] {
  display: none;
}
.search-box input[type="search"] {
  position: absolute;
  width: 100%;
  z-index: 99;
  border: none;
  padding: 10px;
  background-color: #fff;
  border-top: 3px solid transparent;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
}
.search-box .search-form {
  position: absolute;
  right: 330px;
  width: 300px;
  height: 100%;
  opacity: 0;
  visibility: hidden;
}
.search-box .search-form:before {
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.search-box .search-form.open {
  opacity: 1;
  visibility: visible;
}
.search-box .search-form.open + i:before {
  top: -100%;
}
.search-box .search-form.open + i:after {
  top: 0;
}
@media (max-width: 74.9375rem) {
  .search-box {
    width: 100%;
  }
}
@media (min-width: 48rem) {
  body {
    color: #000;
  }
}
@media (min-width: 62rem) {
  .site-top .social-menu {
    display: inline-block;
    position: relative;
  }
  .site-top .social-menu ul {
    position: relative;
    z-index: 2;
  }
}
/*--------------------------------------------------------------
Header 01
--------------------------------------------------------------*/
.header01 #site-navigation .menu > ul > li:first-child:before,
.header01 #site-navigation .menu > li:first-child:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 20px 0 0;
  border-color: #dddddd transparent transparent transparent;
}
.header01 #site-navigation {
  margin: 40px 0;
  display: inline-block;
  text-align: left;
  width: auto;
}
.header01 #site-navigation .menu {
  border: 2px solid #dddddd;
  border-right: 0;
}
.header01 .search-box:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 20px 0 0;
  border-color: #dddddd transparent transparent transparent;
}
/*--------------------------------------------------------------
Header 02
--------------------------------------------------------------*/
.header02 .thememove_testimonials .author span:first-child {
  color: #ffffff;
}
.header02 .header-info h3 {
  color: #ffffff;
}
.header02 .header-info i {
  display: inline-block;
  font-size: 20px;
  margin-right: 10px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  color: #ffffff;
  text-align: center;
  border: 2px solid transparent;
  float: left;
}
.header02 .header-info i:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 20px 0 0;
  border-color: transparent transparent transparent transparent;
}
.header02 #site-navigation {
  position: relative;
  margin-bottom: -37px;
}
.header02 #site-navigation:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 20px 0 0;
  border-color: rgba(0, 0, 0, 0.2) transparent transparent transparent;
}
.header02 #site-navigation .menu > ul > li.tm_quick,
.header02 #site-navigation .menu > li.tm_quick {
  position: absolute;
  right: 0;
}
.header02 #site-navigation .menu > ul > li.tm_quick a:after,
.header02 #site-navigation .menu > li.tm_quick a:after {
  display: none;
}
.header02 #site-navigation .menu > ul > li.tm_quick:before,
.header02 #site-navigation .menu > li.tm_quick:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: -25px;
  right: -25px;
  background-color: #997340;
  -webkit-transform: skew(-30deg, 0);
  -moz-transform: skew(-30deg, 0);
  -ms-transform: skew(-30deg, 0);
  -o-transform: skew(-30deg, 0);
}
.header03 .header-info h3 {
  color: #333333;
}
.header03 .header-info i {
  display: inline-block;
  font-size: 20px;
  margin-right: 10px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  color: #333333;
  text-align: center;
  border: 2px solid #dddddd;
  float: left;
}
.header03 .header-info i:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 20px 0 0;
  border-color: #dddddd transparent transparent transparent;
}
.header03 #site-navigation .container {
  position: relative;
}
.header03 #site-navigation .menu > ul > li.tm_quick,
.header03 #site-navigation .menu > li.tm_quick {
  position: absolute;
  right: 0;
}
.header03 #site-navigation .menu > ul > li.tm_quick a:after,
.header03 #site-navigation .menu > li.tm_quick a:after {
  display: none;
}
.header03 #site-navigation .menu > ul > li.tm_quick:before,
.header03 #site-navigation .menu > li.tm_quick:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: -25px;
  right: -25px;
  background-color: #997340;
  -webkit-transform: skew(-30deg, 0);
  -moz-transform: skew(-30deg, 0);
  -ms-transform: skew(-30deg, 0);
  -o-transform: skew(-30deg, 0);
}
/*--------------------------------------------
Footer
----------------------------------------------*/
.site-footer {
  position: relative;
}
.site-footer:before {
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: .95;
}
.site-footer > div {
  position: relative;
  z-index: 2;
}
.site-footer .widget img {
  margin: 0 0 20px;
}
.site-footer .social-menu .menu li {
  margin: 0 15px 0 0;
}
.site-footer .social-menu .menu li a:before {
  font-size: 20px;
}
.site-footer .menu {
  font-size: 0;
}
.site-footer .menu li {
  vertical-align: top;
  margin-bottom: 10px;
  list-style-type: none;
  font-size: 14px;
  display: block;
}
.site-footer .menu li:hover {
  -webkit-transform: translate(10px, 0);
  -moz-transform: translate(10px, 0);
  -ms-transform: translate(10px, 0);
  -o-transform: translate(10px, 0);
}
.site-footer .menu li a:before {
  content: "\f058";
  margin-right: 10px;
}
.office p {
  margin-bottom: 10px;
}
.office i {
  font-size: 16px;
  width: 35px;
}
.copyright {
  padding: 40px 0;
}
@media (min-width: 62rem) {
  .site-footer .menu li {
    display: inline-block;
    width: 50%;
  }
}
/*--------------------------------------------
Navigation
----------------------------------------------*/
.menu-item,
.page_item {
  display: inline-block;
}
.top-menu {
  position: relative;
  z-index: 1;
}
.top-menu .menu-item {
  padding: 5px;
}
.top-menu .menu-item a:after {
  content: "\f178";
  margin-left: 10px;
}
.social-menu .menu li {
  display: inline-block;
  margin-left: 20px;
  width: auto !important;
}
.social-menu .menu li:hover {
  -webkit-transform: translate(0, 0) !important;
  -moz-transform: translate(0, 0) !important;
  -ms-transform: translate(0, 0) !important;
  -o-transform: translate(0, 0) !important;
}
.social-menu .menu li:before {
  display: none;
}
.social-menu .menu li a {
  font-size: 0;
}
.social-menu .menu li a:before {
  font-size: 16px;
  display: inline-block;
}
.social-menu .menu li a[href*="facebook"]:before {
  content: "\f09a";
}
.social-menu .menu li a[href*="twitter"]:before {
  content: "\f099";
}
.social-menu .menu li a[href*="instagram"]:before {
  content: "\f16d";
}
.social-menu .menu li a[href*="youtube"]:before {
  content: "\f16a";
}
.social-menu .menu li a[href*="plus.google.com"]:before {
  content: "\f0d5";
}
.social-menu .menu li a[href*="flickr"]:before {
  content: "\f16e";
}
.social-menu .menu li a[href*="dribbble"]:before {
  content: "\f17d";
}
.social-menu .menu li a[href*="foursquare"]:before {
  content: "\f180";
}
.social-menu .menu li a[href*="linkedin"]:before {
  content: "\f0e1";
}
.social-menu .menu li a[href*="tumblr"]:before {
  content: "\f173";
}
.social-menu .menu li a[href*="feed"]:before {
  content: "\f09e";
}
#site-navigation {
  width: 100%;
}
#site-navigation .menu li:hover > .sub-menu,
#site-navigation .menu li:hover > .children {
  visibility: visible;
  opacity: 1;
  z-index: 999;
}
#site-navigation .menu li:hover > .sub-menu > li,
#site-navigation .menu li:hover > .children > li {
  margin-right: 0;
}
#site-navigation .menu > ul > li,
#site-navigation .menu > li {
  padding: 10px 6px;
  display: inline-block;
  position: relative;
  vertical-align: top;
  line-height: 1;
}
#site-navigation .menu > ul > li:first-child a:after,
#site-navigation .menu > li:first-child a:after {
  display: none;
}
#site-navigation .menu > ul > li > a,
#site-navigation .menu > li > a {
  position: relative;
  z-index: 1;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
@media (min-width: 75rem) {
  #site-navigation .menu > ul > li > a:after,
  #site-navigation .menu > li > a:after {
    content: '';
    width: 8px;
    height: 2px;
    background-color: #B2854B;
    position: absolute;
    top: 46%;
    display: block;
    left: -20px;
  }
}
#site-navigation .sub-menu,
#site-navigation .children {
  position: absolute;
  width: 300px;
  left: 0;
  top: 100%;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  margin: 0;
}
#site-navigation .sub-menu li,
#site-navigation .children li {
  position: relative;
  margin-right: 20px;
  display: block;
}
#site-navigation .sub-menu li a,
#site-navigation .children li a {
  text-transform: uppercase;
}
#site-navigation .sub-menu .sub-menu,
#site-navigation .children .sub-menu,
#site-navigation .sub-menu .children,
#site-navigation .children .children {
  left: 100%;
  top: 0;
}
#site-navigation .mega-menu {
  position: static !important;
}
#site-navigation .mega-menu .sub-menu {
  width: 100%;
}
#site-navigation .mega-menu .sub-menu li {
  position: relative;
  z-index: 2;
  width: 100%;
  padding-bottom: 0;
  padding-top: 40px;
}
#site-navigation .mega-menu .sub-menu li:hover {
  background: none;
}
#site-navigation .mega-menu .sub-menu li .vc_icon_element {
  float: left;
  margin-bottom: 0 !important;
}
#site-navigation .mega-menu .sub-menu li .vc_icon_element .vc_icon_element-inner {
  height: .5em;
}
#site-navigation .mega-menu .sub-menu li .wpb_text_column {
  color: #ffffff;
  font-weight: normal;
}
@media (min-width: 62rem) {
  .top-menu .menu-item {
    padding: 15px 30px 15px 0;
  }
}
/*--------------------------------------------
Sidebar
----------------------------------------------*/
.sidebar .widget,
.wpb_widgetised_column .widget {
  margin-bottom: 40px;
}
.widget-title {
  position: relative;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 8px;
  letter-spacing: -0.02em;
}
.widget-title:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  width: 70px;
  background-color: #fff;
}
.widget-title:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}
.widget-title span {
  position: relative;
  display: inline-block;
  padding: 0 0 7px;
}
.sidebar ul li,
.wpb_widgetised_column ul li,
.sidebar .recent-posts__item,
.wpb_widgetised_column .recent-posts__item {
  display: block;
  border-bottom: 1px solid #EEEEEE;
  padding-bottom: 10px;
  margin-bottom: 10px;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
}
.sidebar ul li:before,
.wpb_widgetised_column ul li:before,
.sidebar .recent-posts__item:before,
.wpb_widgetised_column .recent-posts__item:before {
  content: "\f058";
  margin-right: 10px;
}
.sidebar .recent-posts__item,
.wpb_widgetised_column .recent-posts__item {
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.sidebar .recent-posts > div:last-child,
.wpb_widgetised_column .recent-posts > div:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}
.sidebar .widget_search .search-form,
.wpb_widgetised_column .widget_search .search-form {
  position: relative;
}
.sidebar .widget_search span,
.wpb_widgetised_column .widget_search span {
  font-size: 0;
}
.sidebar .widget_search span:before,
.wpb_widgetised_column .widget_search span:before {
  content: "\f002";
  font-size: 16px;
  position: absolute;
  right: 1px;
  top: 23px;
  background-color: #EEEEEE;
  text-align: center;
  height: 47px;
  line-height: 47px;
  width: 48px;
  display: block;
}
.sidebar .widget_search input[type="search"],
.wpb_widgetised_column .widget_search input[type="search"] {
  border: 1px solid #DDDDDD;
  background-color: #fff;
  padding: 15px;
  margin-bottom: 0;
}
.sidebar .widget_search .search-submit,
.wpb_widgetised_column .widget_search .search-submit {
  display: none;
}
.sidebar .better-menu-widget ul li,
.wpb_widgetised_column .better-menu-widget ul li {
  border: 1px solid #dddddd;
  padding: 0;
}
.sidebar .better-menu-widget li,
.wpb_widgetised_column .better-menu-widget li {
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
}
.sidebar .better-menu-widget li:hover:before,
.wpb_widgetised_column .better-menu-widget li:hover:before {
  color: #FFFFFF;
}
.sidebar .better-menu-widget li:before,
.wpb_widgetised_column .better-menu-widget li:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  height: 60px;
  line-height: 60px;
  width: 50px;
  text-align: center;
  background-color: #EEEEEE;
  vertical-align: middle;
  margin-right: 30px;
  font-size: 24px;
}
.sidebar .better-menu-widget li:after,
.wpb_widgetised_column .better-menu-widget li:after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 60px 0 0 20px;
  border-color: transparent transparent transparent #EEEEEE;
  position: absolute;
  top: 0;
  left: 50px;
}
/*--------------------------------------------
Mini Cart
----------------------------------------------*/
.mini-cart {
  padding: 0 15px;
  position: relative;
}
.mini-cart .mini-cart__button {
  cursor: pointer;
}
.mini-cart .mini-cart__button .mini-cart-icon {
  position: relative;
}
.mini-cart .mini-cart__button .mini-cart-icon:before {
  content: '\f07a';
  font-size: 20px;
  float: none;
  width: auto;
  height: auto;
  line-height: normal;
  border: none;
  margin: 0;
}
.mini-cart .mini-cart__button .mini-cart-icon:after {
  font-family: inherit;
  content: attr(data-count);
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  position: absolute;
  top: -16px;
  right: -12px;
  min-width: 20px;
  line-height: 20px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.mini-cart .widget_shopping_cart_content {
  position: absolute;
  right: 0;
  top: 140%;
  width: 300px;
  max-height: 700px;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  padding-top: 15px;
  z-index: 99999;
  background-color: #fff;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.mini-cart .widget_shopping_cart_content .cart_list li {
  padding: 0 15px 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #EEEEEE;
}
.mini-cart .widget_shopping_cart_content .cart_list li img {
  width: 70px;
  margin: 0 10px 0 0;
  float: left;
}
.mini-cart .widget_shopping_cart_content .cart_list li .quantity {
  display: block;
  color: #666;
  font-size: 12px;
}
.mini-cart .widget_shopping_cart_content .cart_list li .remove {
  font-size: 20px;
  height: 20px;
  width: 20px;
  text-align: center;
  line-height: 15px;
  float: right;
  position: relative;
  display: inline-block;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.mini-cart .widget_shopping_cart_content .cart_list li .remove:hover {
  color: #fff !important;
  background: red;
}
.mini-cart .widget_shopping_cart_content .total {
  padding: 5px 15px 5px;
  margin-bottom: 0;
  text-align: center;
}
.mini-cart .widget_shopping_cart_content .buttons {
  text-align: center;
  margin-bottom: 0;
}
.mini-cart .widget_shopping_cart_content .wc-forward {
  display: inline-block;
  padding: 5px 10px;
  margin: 10px 3px 15px;
  text-transform: uppercase;
}
.mini-cart.open .widget_shopping_cart_content {
  opacity: 1;
  visibility: visible;
  top: 100%;
}
/*--------------------------------------------------------------
Page
--------------------------------------------------------------*/
.big-title,
.big-title--single {
  position: relative;
  margin-bottom: 70px;
  text-transform: uppercase;
}
.big-title .container,
.big-title--single .container {
  position: relative;
  z-index: 1;
}
.big-title:after,
.big-title--single:after {
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.big-title h3,
.big-title--single h3 {
  text-transform: none;
  color: rgba(255, 255, 255, 0.6);
  font-weight: normal;
  font-size: 15px;
  position: relative;
}
.big-title h3:after,
.big-title--single h3:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -20px;
  width: 70px;
  height: 3px;
}
.taxonomy-description {
  margin-top: -50px;
  padding-bottom: 50px;
  display: block;
  font-size: 20px;
}
.pagination {
  margin-bottom: 70px;
}
.pagination span,
.pagination a {
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  display: inline-block;
  border: 1px solid #dddddd;
  margin-right: 10px;
}
.pagination span.current {
  color: #FFFFFF;
}
.pagination .next,
.pagination .prev {
  width: auto;
  border: none;
}
/*--------------------------------------------
Post
----------------------------------------------*/
article.post {
  border-top: 2px solid #dddddd;
}
article.post .entry-header {
  margin-bottom: 10px;
}
article.post .entry-header h2 {
  margin-top: 15px;
}
article.post .read-more {
  padding: 15px;
  text-transform: uppercase;
  color: #ffffff;
  position: relative;
}
article.post .read-more:before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 50px 0 0;
  border-color: #000 transparent transparent transparent;
  position: absolute;
  opacity: 0.1;
  top: 0;
  left: 0;
}
.dates {
  width: 65px;
  height: 70px;
  text-align: center;
  color: #ffffff;
  margin-left: -15px;
  margin-top: -2px;
}
.dates .month {
  font-size: 14px;
  padding-top: 5px;
  display: block;
  text-transform: uppercase;
  font-weight: bold;
}
.dates .date {
  font-size: 36px;
  font-weight: bold;
  line-height: 1;
}
.post-thumb {
  position: relative;
  text-align: center;
  overflow: hidden;
  margin-bottom: 35px;
}
.hentry {
  margin-bottom: 50px;
}
.hentry .entry-header {
  margin-bottom: 30px;
}
.hentry .entry-header h2 {
  font-size: 30px;
  letter-spacing: 0;
  line-height: 1.3;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
}
.hentry .entry-meta {
  margin-bottom: 30px;
}
.hentry .entry-meta span {
  padding-right: 30px;
}
.hentry .entry-meta i {
  margin-right: 5px;
}
.hentry .entry-content {
  color: #858585;
  margin-bottom: 20px;
}
.hentry .entry-content ul,
.hentry .entry-content ol {
  margin-left: 20px;
  margin-bottom: 10px;
}
.hentry .share a {
  margin-left: 10px;
}
.single-post .entry-footer {
  border-bottom: 1px solid #dddddd;
  padding-bottom: 10px;
}
.single-post .comment-form,
.page .comment-form {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -0.9375rem;
  margin-right: -0.9375rem;
}
.single-post .comment-form:before,
.page .comment-form:before,
.single-post .comment-form:after,
.page .comment-form:after {
  display: none !important;
}
.single-post .comment-form .form-submit,
.page .comment-form .form-submit,
.single-post .comment-form .logged-in-as,
.page .comment-form .logged-in-as {
  padding: 0 15px;
}
.single-post .comment-reply-title,
.page .comment-reply-title,
.single-post .comments-title,
.page .comments-title {
  position: relative;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-size: 24px;
  color: #111;
}
.single-post .comment,
.page .comment {
  position: relative;
  margin-bottom: 20px;
}
.single-post .comment > div,
.page .comment > div {
  background-color: transparent;
  border-bottom: 1px solid #eeeeee;
  padding: 20px;
  margin-bottom: 20px;
}
.single-post .comment .comment-author,
.page .comment .comment-author {
  float: none;
  display: inline-block;
  vertical-align: top;
  width: 15%;
  padding-right: 20px;
  margin-right: 0;
}
.single-post .comment .comment-content,
.page .comment .comment-content {
  display: inline-block;
  vertical-align: top;
  width: 75%;
}
.single-post .comment .comment-content cite.fn a,
.page .comment .comment-content cite.fn a {
  text-transform: none;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.1em;
}
.single-post .comment .comment-content .metadata > a,
.page .comment .comment-content .metadata > a {
  font-size: 13px;
  font-style: italic;
  color: #999999;
}
.single-post .comment .comment-reply-link,
.page .comment .comment-reply-link {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #999999;
  background-color: #eeeeee;
  padding: 5px 10px;
}
@media (min-width: 62rem) {
  .single-post .comment .children,
  .page .comment .children {
    margin-left: 50px;
  }
}
.single-post .comment .fn,
.page .comment .fn {
  font-style: normal;
  font-size: 16px;
  text-transform: uppercase;
}
.comment-list {
  list-style: none;
}
.comment-list .children {
  list-style: none;
  margin: 0;
}
/*--------------------------------------------
Typo
----------------------------------------------*/
.btn,
.eg-infinity-features-element-26 {
  position: relative;
  display: inline-block;
  outline: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
  overflow: hidden;
  z-index: 1;
  line-height: 1;
}
.btn span,
.eg-infinity-features-element-26 span {
  display: block;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
.btn::before,
.eg-infinity-features-element-26::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: #fff;
  line-height: 1;
  content: attr(data-hover);
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform: translateX(-25%);
  -moz-transform: translateX(-25%);
  transform: translateX(-25%);
}
.btn:hover span,
.eg-infinity-features-element-26:hover span,
.btn:focus span,
.eg-infinity-features-element-26:focus span {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  transform: translateX(100%);
}
.btn:hover::before,
.eg-infinity-features-element-26:hover::before,
.btn:focus::before,
.eg-infinity-features-element-26:focus::before {
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  transform: translateX(0%);
}
ul.style1 li {
  margin-bottom: 10px;
  list-style: none;
}
ul.style1 li:before {
  content: "\f061";
  margin-right: 10px;
}
/*--------------------------------------------
Breadcrumb
----------------------------------------------*/
.breadcrumb {
  overflow: hidden;
}
.tm_bread_crumb {
  margin: 0 -15px;
  padding: 15px 20px;
  display: inline-block;
  position: relative;
}
.tm_bread_crumb:before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 60px 0 0 40px;
  border-color: transparent transparent transparent transparent;
  position: absolute;
  top: 0;
  right: -40px;
}
.tm_bread_crumb li {
  display: inline-block;
  margin-right: 6px;
}
.tm_bread_crumb li a:after {
  content: "/";
  margin-left: 10px;
}
.tm_bread_crumb li:last-child {
  margin: 0;
}
/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.owl-carousel .owl-animated-in {
  z-index: 0;
}
.owl-carousel .owl-animated-out {
  z-index: 1;
}
.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}
/*
 *  Core Owl Carousel CSS File
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
}
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
.owl-carousel.owl-hidden {
  opacity: 0;
}
.owl-carousel .owl-refresh .owl-item {
  display: none;
}
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel .owl-item img {
  -webkit-transform-style: preserve-3d;
}
.owl-carousel.owl-text-select-on .owl-item {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}
.owl-carousel .owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}
.owl-carousel.owl-rtl {
  direction: rtl;
}
.owl-carousel.owl-rtl .owl-item {
  float: right;
}
/* No Js */
.no-js .owl-carousel {
  display: block;
}
/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-item img {
  transform-style: preserve-3d;
}
/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}
.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.html") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: scale 100ms ease;
  -moz-transition: scale 100ms ease;
  -ms-transition: scale 100ms ease;
  -o-transition: scale 100ms ease;
  transition: scale 100ms ease;
}
.owl-carousel .owl-video-play-icon:hover {
  -webkit-transition: scale(1.3, 1.3);
  -moz-transition: scale(1.3, 1.3);
  -ms-transition: scale(1.3, 1.3);
  -o-transition: scale(1.3, 1.3);
  transition: scale(1.3, 1.3);
}
.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}
.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
}
.owl-controls {
  text-align: center;
}
.owl-controls .owl-dot {
  position: relative;
  z-index: 99;
  width: 12px;
  height: 12px;
  display: inline-block;
  vertical-align: top;
  margin: 0 3px;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.owl-controls .owl-dot.active {
  background-color: #FFFFFF;
}
.snap-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  z-index: 2;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.snap-drawers {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
}
.snap-drawer {
  position: absolute;
  top: 0;
  right: auto;
  bottom: 0;
  left: auto;
  width: 265px;
  height: auto;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: width 0.3s ease;
  -moz-transition: width 0.3s ease;
  -ms-transition: width 0.3s ease;
  -o-transition: width 0.3s ease;
  transition: width 0.3s ease;
}
.snap-drawer-left {
  left: 0;
  z-index: 1;
}
.snap-drawer-right {
  right: 0;
  z-index: 1;
}
.snapjs-left .snap-drawer-right,
.snapjs-right .snap-drawer-left {
  display: none;
}
.snapjs-expand-left .snap-drawer-left,
.snapjs-expand-right .snap-drawer-right {
  width: 100%;
}
/*--------------------------------------------
Mobile Menu
----------------------------------------------*/
#open-left {
  font-size: 20px;
  line-height: 1;
  cursor: pointer;
}
.snap-drawers {
  background-color: #fff;
}
@media (min-width: 62rem) {
  .snap-drawers {
    display: none;
  }
}
.mobile-menu > ul {
  padding: 20px;
}
.mobile-menu > ul li {
  display: block;
}
.mobile-menu > ul li a {
  display: block;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #EEEEEE;
}
.mobile-menu > ul li:last-child {
  border: none;
}
.mobile-menu > ul li li {
  margin-left: 20px;
}
/*--------------------------------------------
Project
----------------------------------------------*/
.facts li {
  list-style: none;
  display: block;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid #eeeeee;
  color: #999;
}
.facts li:before {
  content: "\f058";
  margin-right: 10px;
}
.facts li em {
  float: right;
  color: #333;
}
/*--------------------------------------------------------------
Form
--------------------------------------------------------------*/
select,
textarea,
input {
  display: inline-block;
  padding: 20px 25px;
  margin-bottom: 10px;
  vertical-align: top;
  font-size: 14px;
  width: 100%;
  max-width: 100%;
  border: 1px solid #dddddd;
}
textarea {
  resize: vertical;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #888;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #888;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #888;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #888;
}
input,
select,
textarea {
  box-shadow: none;
  color: #888;
  padding: 15px 20px;
  width: 100%;
}
textarea {
  height: 200px;
}
input:focus,
textarea:focus {
  outline: none;
  background-color: #FFFFFF;
  color: #888;
}
input[type="checkbox"],
input[type="image"],
input[type="radio"] {
  width: auto;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 15px 20px;
  width: auto;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: .05em;
}
button:hover,
input:hover[type="button"],
input:hover[type="reset"],
input:hover[type="submit"],
.button:hover {
  color: #fff;
}
/*--------------------------------------------
Contact Form
----------------------------------------------*/
.wpcf7-form .row {
  margin: 0 -5px;
}
.wpcf7-form [class*='col-'] {
  padding: 0 5px;
}
.wpcf7-form textarea {
  height: 110px;
}
.form1 select,
.form1 textarea,
.form1 input {
  background-color: #65656F;
  color: #FFFFFF;
  border: none;
}
.form1 select:focus,
.form1 textarea:focus,
.form1 input:focus {
  background-color: #FFFFFF;
  color: #888;
}
.form1 input:-moz-placeholder,
.form1 textarea:-moz-placeholder {
  color: #fff;
}
.form1 input::-moz-placeholder,
.form1 textarea::-moz-placeholder {
  color: #fff;
}
.form1 input:-ms-input-placeholder,
.form1 textarea:-ms-input-placeholder {
  color: #fff;
}
.form1 input::-webkit-input-placeholder,
.form1 textarea::-webkit-input-placeholder {
  color: #fff;
}
/*--------------------------------------------
Recent Posts
----------------------------------------------*/
.recent-posts__item {
  margin-bottom: 20px;
}
.recent-posts__item .recent-posts__thumb {
  float: left;
  margin-right: 20px;
  position: relative;
}
.recent-posts__item .recent-posts__thumb:before {
  content: '';
  width: 30px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 2px;
  background-color: #fff;
  z-index: 2;
  opacity: 0;
}
.recent-posts__item .recent-posts__thumb:after {
  content: '';
  width: 2px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 30px;
  opacity: 0;
  background-color: #fff;
}
.recent-posts__item .recent-posts__thumb a:before {
  content: '';
  opacity: 0;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.recent-posts__item:hover .recent-posts__thumb:before {
  opacity: 1;
}
.recent-posts__item:hover .recent-posts__thumb:after {
  opacity: 1;
}
.recent-posts__item:hover .recent-posts__thumb a:before {
  opacity: .8;
}
.recent-posts__item a {
  font-size: 15px;
}
.recent-posts__item .post-meta {
  margin-top: 10px;
  color: #878787;
}
.recent-posts__item .post-meta span {
  margin-right: 10px;
}
.recent-posts.type_2 h3 {
  letter-spacing: normal;
  font-weight: normal;
  margin-bottom: 20px;
}
.recent-posts.type_2 .entry-meta {
  margin-bottom: 20px;
}
.recent-posts.type_2 .entry-meta span {
  padding-right: 10px;
}
.recent-posts.type_2 .entry-meta i {
  margin-right: 5px;
}
.recent-posts.type_2 .entry-excerpt {
  color: #858585;
}
/*--------------------------------------------
Revolution slider
----------------------------------------------*/
.tp-caption {
  letter-spacing: -0.05em !important;
}
.tp-caption button {
  padding: 15px 20px !important;
  font-weight: bold !important;
  letter-spacing: normal !important;
}
/*--------------------------------------------
Visual Composer
----------------------------------------------*/
.eg-tm-recent-posts-01-content {
  position: relative;
  overflow: hidden;
}
.eg-tm-recent-posts-01-element-15 {
  display: none !important;
}
.vc_custom_heading.style1,
.vc_custom_heading.style2,
.vc_custom_heading.style3,
.vc_custom_heading.style4 {
  position: relative;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
}
.vc_custom_heading.style1 h2,
.vc_custom_heading.style2 h2,
.vc_custom_heading.style3 h2,
.vc_custom_heading.style4 h2 {
  padding-bottom: 20px;
  line-height: 1;
}
.vc_custom_heading.style1:after,
.vc_custom_heading.style2:after,
.vc_custom_heading.style3:after,
.vc_custom_heading.style4:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  width: 70px;
  background-color: #fff;
}
.vc_custom_heading.style1:before,
.vc_custom_heading.style2:before,
.vc_custom_heading.style3:before,
.vc_custom_heading.style4:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}
.vc_custom_heading.style2:before,
.vc_custom_heading.style4:before {
  background-color: #dddddd;
}
.vc_custom_heading.style3:after,
.vc_custom_heading.style4:after {
  left: 50%;
  margin-left: -35px;
}
.vc_custom_heading.style3 h2,
.vc_custom_heading.style4 h2 {
  text-align: center !important;
}
.thememove_testimonials blockquote {
  background-color: #fff;
  padding: 40px 30px 35px;
  border: 2px solid #dddddd;
  color: #888888;
  margin: 0 0 20px;
  font-size: 16px;
  letter-spacing: -0.02em;
  font-style: italic;
  position: relative;
}
.thememove_testimonials blockquote:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 60px 0 0 60px;
  border-color: transparent transparent transparent #eeeeee;
}
.thememove_testimonials blockquote:before {
  display: none !important;
}
.thememove_testimonials img {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  float: left;
  margin-right: 20px;
}
.thememove_testimonials .author span:first-child {
  display: block;
  padding-top: 30px;
  font-size: 17px;
  font-weight: bold;
}
.thememove_testimonials .author .title {
  color: #AAAAAA;
  font-size: 13px;
  font-weight: normal;
}
.thememove_testimonials .owl-controls {
  margin-top: 40px;
}
.thememove_testimonials .owl-dot {
  background-color: #eeeeee;
}
.thememove_testimonials .owl-dot.active {
  background-color: #333333;
}
.vc_tta.vc_tta-accordion .vc_tta-controls-icon-position-left.vc_tta-panel-title > a {
  padding: 0 0 0 20px !important;
  display: block;
  height: 60px;
  line-height: 60px;
  position: relative;
  font-size: 18px;
  font-weight: bold;
  color: #2F2217 !important;
}
.vc_tta.vc_tta-accordion .vc_tta-controls-icon-position-left.vc_tta-panel-title .vc_tta-controls-icon {
  height: 60px;
  width: 60px;
  line-height: 60px;
  left: 0 !important;
  display: none;
}
.vc_tta.vc_general .vc_tta-panel.vc_active .vc_tta-controls-icon-position-left.vc_tta-panel-title > a {
  padding: 0 0 0 80px !important;
}
.vc_tta.vc_general .vc_tta-panel.vc_active .vc_tta-controls-icon-position-left.vc_tta-panel-title > a:after {
  content: '';
  position: absolute;
  top: -3px;
  left: -2px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 60px 60px 0 0;
  border-color: rgba(0, 0, 0, 0.3) transparent transparent transparent;
}
.vc_tta.vc_general .vc_tta-panel.vc_active .vc_tta-controls-icon {
  display: block;
  margin-top: -3px;
  margin-left: -2px;
}
.vc_tta.vc_general .vc_tta-panel.vc_active .vc_tta-controls-icon:before {
  content: "\f078";
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  width: 60px;
  border: none;
}
.tm_small_icon {
  float: left;
  margin-right: 20px;
  max-width: 58px;
}
.man img {
  position: absolute;
  bottom: -112px;
}
.tm_top .vc_custom_heading {
  position: relative;
}
.tm_top .vc_custom_heading:before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 44px 44px 0 0;
  border-color: #000 transparent transparent transparent;
  position: absolute;
  opacity: 0.1;
  top: 0;
  left: 0;
}
.tm_bottom {
  overflow: visible !important;
}
.tm_bottom .vc_icon_element.vc_icon_element-outer.vc_icon_element-align-center {
  float: left;
  margin-right: 20px;
  margin-bottom: 0 !important;
}
.tm_bottom .vc_icon_element-style-boxed {
  position: relative;
}
.tm_bottom .vc_icon_element-style-boxed:before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 34px 34px 0 0;
  border-color: #000 transparent transparent transparent;
  position: absolute;
  opacity: 0.1;
  top: 0;
  left: 0;
}
.vc_btn3-color-grey:before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 44px 44px 0 0;
  border-color: #000 transparent transparent transparent;
  position: absolute;
  opacity: 0.1;
  top: 0;
  left: 0;
}
.vc_images_carousel {
  position: relative;
  overflow: hidden;
}
.vc_images_carousel .vc_carousel-indicators li {
  width: 12px !important;
  height: 12px !important;
}
.vc_carousel-indicators {
  background-color: #fff;
  width: auto !important;
  bottom: 0 !important;
  left: 0 !important;
  margin: 0 !important;
  padding: 15px 20px 10px !important;
}
.ab .vc_carousel-indicators:after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 130px 0 0 50px;
  border-color: transparent transparent transparent #FFFFFF;
  position: absolute;
  top: 0;
  right: -50px;
}
.vc_btn3.vc_btn3-color-grey.vc_btn3-style-modern {
  border: none;
}
.vc_btn3.vc_btn3-color-grey.vc_btn3-style-modern:hover,
.vc_btn3.vc_btn3-color-grey.vc_btn3-style-modern:focus {
  border: none;
}
.eg-tm-projects-01-element-3,
.eg-tm-projects-02-element-3,
.eg-tm-projects-03-element-3 {
  position: relative;
  overflow: hidden;
}
.eg-tm-projects-01-element-3:before,
.eg-tm-projects-02-element-3:before,
.eg-tm-projects-03-element-3:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 70px 70px 0 0;
  border-color: rgba(0, 0, 0, 0.2) transparent transparent transparent;
}
.esg-entry-cover:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 100px 100px 0 0;
  border-color: rgba(0, 0, 0, 0.5) transparent transparent transparent;
}
.esg-hovered .esg-entry-cover:before {
  opacity: 0;
}
.eg-tm-projects-02-element-11 {
  color: #ffffff !important;
}
.vc_tta-color-white.vc_tta-style-classic .vc_tta-panel.vc_active .vc_tta-panel-heading,
.vc_tta-shape-rounded.vc_tta-o-shape-group:not(.vc_tta-o-no-fill) .vc_tta-panel:first-child:not(:last-child) .vc_tta-panel-body {
  border: none !important;
}
.vc_tta-color-white.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-heading,
.vc_tta-color-white.vc_tta-style-classic .vc_tta-panel.vc_active .vc_tta-panel-heading {
  border: none !important;
  border-top: 1px solid #eeeeee !important;
}
.vc_tta.vc_general .vc_tta-panels {
  border: 2px solid #dddddd !important;
}
.vc_toggle .vc_toggle_title {
  text-transform: uppercase;
}
.vc_toggle .vc_toggle_content {
  color: #777;
}
.scrollup {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #ffffff !important;
  position: fixed;
  bottom: -75px;
  background: #594431;
  right: 30px;
  z-index: 9999;
  cursor: pointer;
}
.scrollup.show {
  bottom: 30px;
}
.scrollup i {
  position: relative;
  width: 10px;
  height: 14px;
  overflow: hidden;
}
.scrollup i:before {
  @extend % transit;
  position: absolute;
  top: 0;
  left: 0;
}
.scrollup i:after {
  @extend % transit;
  @extend % icon;
  content: '\f106';
  position: absolute;
  top: 16px;
  left: 0;
}
.scrollup:hover i:before {
  position: absolute;
  top: -16px;
}
.scrollup:hover i:after {
  top: 0;
}
@media (min-width: 62rem) {
  .eg-tm-recent-posts-01-element-15 {
    width: 57px;
    display: block !important;
  }
  .eg-tm-recent-posts-01-element-15:before {
    content: '';
    position: absolute;
    top: 0;
    right: -20px;
    width: 1px;
    height: 500px;
    background-color: #d1d1d1;
  }
  .eg-tm-recent-posts-01-element-16 {
    max-width: 260px;
  }
}
/*# sourceMappingURL=main.css.map */